.team-title {
  font-size: 30px;
  color: $main-text-color;
  text-align: center;
  margin-top: 90px;

  &__item {
    font-size: 24px;
    color: $main-text-color;
    margin-bottom: 25px;
  }
  
  &::after {
    @extend %pseudo-element;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 0 auto;
    margin-top: 35px;
  }
  
  &__description {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 15px;
    color: $secondary-text-color;
    line-height: 24px;
    text-align: center;
    margin: 45px 0 90px;
  }
}


.team-list{
  @include flex-set(flex, center, space-between);

  &__member {
    width: 380px;
  }
  
  &__member-photo {
    position: relative;
    background-color: #95e1d3;
    height: 470px;
    margin-bottom: 30px;
  }
  
  &__member-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.9),
      rgba(243, 129, 129, 0.9)
    );
    visibility: hidden;
    transition-duration: 200ms;
  }
  
  &__social-icons svg {
    fill: #f38181;
  }
  
  &__social-icons {
    width: 56px;
    height: 56px;
    background-color: $socials-bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
  }
  
  &__social-icons:nth-last-child(1) {
    margin-right: 0;
  }
  
  &__social-icons:hover {
    background-color: #f38181;
  }
  
  &__social-icons:hover svg {
    fill: $main-color;
  }
  
  &__member:hover .team-list__member-hover {
    visibility: visible;
    top: -10px;
    left: -10px;
    bottom: 10px;
    right: 10px;
  }
  
  &__member:hover img {
    top: -10px;
    left: -10px;
  }
  
  &__member-photo img {
    position: relative;
    top: 0;
    left: 0;
    transition-property: left, top;
    transition-duration: 0.2s;
  }
  
  &__member-name {
    text-align: center;
    font-family: $main-font;
    font-weight: 400;
    font-size: 14px;
    color: $main-text-color;
    text-transform: uppercase;
  }
  
  &__member-profession {
    display: block;
    font-family: $secondary-font;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    text-transform: none;
    color: $secondary-text-color;
    margin: 15px 0 85px;
  }
}

