@import "./normalize.css";
@import "./fonts.css";
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
/* Header */

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}
.navigation-list {
  width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner-wrapper {
  background-image: -webkit-gradient(
      linear,
      left bottom, left top,
      from(rgba(252, 227, 138, 0.9)),
      to(rgba(243, 129, 129, 0.9))
    ),
    url(../img/banner.png);
  background-image: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.9),
      rgba(243, 129, 129, 0.9)
    ),
    url(../img/banner.png);
  background-image: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.9),
      rgba(243, 129, 129, 0.9)
    ),
    url(../img/banner.png);
  height: 1000px;
  background-position: center;
}
.navigation__logo a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
}

.navigation-list__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
.navigation-list__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: transparent;
  margin-top: 10px;
}
.navigation-list__link:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  margin-top: 10px;
}
.navigation-list__link:hover {
  color: #fce38a;
}
.navigation-list__link svg:hover {
  fill: #fce38a;
}
.navigation-list__link svg {
  width: 20px;
  height: 18px;
  fill: #ffffff;
}
/* Title */
.banner {
  text-align: center;
}
.title__item {
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 170px;
  text-transform: none;
}
.banner-title {
  margin: 40px 0 125px;
  line-height: 140px;
}
.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 150px;
  color: #ffffff;
  text-transform: uppercase;
}
.banner-title__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  border: 3px solid #ffffff;
  padding: 10px 25px;
  margin-top: 125px;
}
/* Services */
.services-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  margin: 50px 0 65px;
  text-align: center;
}
.services-title__item {
  display: block;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: none;
  margin-bottom: 25px;
}
.services-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 35px;
}
.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services-list__item {
  width: 390px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}
.services-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.services-list__icon-container {
  text-align: center;
  -ms-flex-preferred-size: 90px;
      flex-basis: 90px;
}
.services-list__icon {
  fill: #95e1d3;
  width: 32px;
}

.services-list__container {
  width: 300px;
}
.services-list__item-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.services-list__item-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #999999;
  line-height: 24px;
}
/* Team */
.team-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
.team-title__item {
  display: block;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: none;
  margin-bottom: 25px;
}
.team-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 35px;
}
.team-title__description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #999999;
  line-height: 24px;
  text-align: center;
  margin: 45px 0 90px;
}
.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-list__member-photo {
  position: relative;
  background-color: #95e1d3;
  height: 470px;
  margin-bottom: 30px;
}
.team-list__member-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(
    linear,
    left bottom, left top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  background: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  visibility: hidden;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
}
.team-list__social-icons svg {
  fill: #f38181;
}

.team-list__social-icons {
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2px;
}
.team-list__social-icons:nth-last-child(1) {
  margin-right: 0;
}
.team-list__social-icons:hover {
  background-color: #f38181;
}
.team-list__social-icons:hover svg {
  fill: #ffffff;
}
.team-list__member:hover .team-list__member-hover {
  visibility: visible;
  top: -10px;
  left: -10px;
  bottom: 10px;
  right: 10px;
}
.team-list__member:hover img {
  top: -10px;
  left: -10px;
}

.team-list__member-photo img {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: left, top;
  -o-transition-property: left, top;
  transition-property: left, top;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.team-list__member-name {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
}
.team-list__member-profession {
  display: block;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  text-transform: none;
  color: #999999;
  margin: 15px 0 85px;
}
/* Footer */
footer {
  border-top: 1px solid #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}
.footer-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}
.footer-text a {
  color: #f38181;
}
/* Form */
#your-email {
  font-family: "Roboto";
  font-size: 15px;
  width: 230px;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  padding: 0 10px;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

input:-moz-placeholder {
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #cccccc;
  font-style: italic;
}

input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto";
  font-weight: 300;
  color: #cccccc;
  font-style: italic;
}

.submit {
  font-family: "Monserrat", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  border: none;
}