@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: regular;
  src: url("../fonts/montserrat-regular/montserrat-v14-latin-regular.woff2")
      format("woff2"),
    url("../fonts/montserrat-regular/montserrat-v14-latin-regular.woff")
      format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/montserrat-bold/montserrat-v14-latin-700.woff2")
      format("woff2"),
    url("../fonts/montserrat-bold/montserrat-v14-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: regular;
  src: url("../fonts/roboto-regular/roboto-slab-v9-latin-regular.woff2")
      format("woff2"),
    url("../fonts/roboto-regular/roboto-slab-v9-latin-regular.woff")
      format("woff");
}
@font-face {
  font-family: "DroidSerifItalic";
  src: url("../fonts/DroidSerifItalic/DroidSerifItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Wisdom-Script";
  src: local("Wisdom-Script"),
    url("https://nomail.com.ua/files/woff/fe0dc36743d17d7a1166c6e21f6536f1.woff")
      format("woff");
}
