.team-title {
  font-size: 30px;
  color: #333333;
  text-align: center;
  margin-top: 90px;
}
.team-title__item {
  font-size: 24px;
  color: #333333;
  margin-bottom: 25px;
}
.team-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 35px;
}
.team-title__description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #999999;
  line-height: 24px;
  text-align: center;
  margin: 45px 0 90px;
}
.team-list{
  display: flex;
  justify-content: space-between;
}
.team-list__member {
  width: 380px;
}

.team-list__member-photo {
  position: relative;
  background-color: #95e1d3;
  height: 470px;
  margin-bottom: 30px;
}
.team-list__member-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  visibility: hidden;
  transition-duration: 200ms;
}
.team-list__social-icons svg {
  fill: #f38181;
}

.team-list__social-icons {
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
}
.team-list__social-icons:nth-last-child(1) {
  margin-right: 0;
}
.team-list__social-icons:hover {
  background-color: #f38181;
}
.team-list__social-icons:hover svg {
  fill: #ffffff;
}
.team-list__member:hover .team-list__member-hover {
  visibility: visible;
  top: -10px;
  left: -10px;
  bottom: 10px;
  right: 10px;
}
.team-list__member:hover img {
  top: -10px;
  left: -10px;
}

.team-list__member-photo img {
  position: relative;
  top: 0;
  left: 0;
  transition-property: left, top;
  transition-duration: 0.2s;
}
.team-list__member-name {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
}
.team-list__member-profession {
  display: block;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  text-transform: none;
  color: #999999;
  margin: 15px 0 85px;
}
