$main-font: "Montserrat", sans-serif;
$secondary-font: 'Roboto', sans-serif;
$secondary-title-font:'Kaushan Script', cursive;


$main-color: #ffffff;
$main-text-color:#333333;
$secondary-text-color:#999999;
$link-hover-color: #fce38a;
$socials-bg-color: #fce38a;

