@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:300,400,500,600,700,900|Roboto:300,300i,400,700,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #95e1d3;
}
.menu-item {
  display: flex;
  list-style-type: none;
}
.menu-item > li {
  margin-right: 60px;
  position: relative;
}
.menu-item > li:nth-last-child(1) {
  margin-right: 0;
}
.menu-item a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #95e1d3;
}
.menu-item a:hover {
  color: #f38181;
}
.menu-item a:hover::after {
  content: "";
  position: absolute;
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #f38181;
  margin-top: 12px;
}
/* Title Servise+Team */
.title-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.font-1 {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 20px;
}
.font-2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #333333;
}
.font-2::after {
  content: "";
  margin: 0 auto;
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin-top: 40px;
}
.title-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.title-2-descr {
  display: flex;
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #999999;
  font-weight: 400;
  text-align: center;
  margin: 45px 0 90px;
}
/* Services */

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0 90px 0;
  list-style-type: none;
}
.service-item {
  flex: 0 380px;
  margin-bottom: 100px;
  padding-left: 80px;
  position: relative;
}
.service-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.service-item::before {
  display: inline-block;
  content: " ";
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 20px;
}
.servise-name a {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
}
.service-descr {
  margin-top: 10px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
/* Icons */
.icon-alarm::before {
  background-image: url(../icon/alarm.png);
}
.icon-line_graph::before {
  background-image: url(../icon/line__graph.png);
}
.icon-computer::before {
  background-image: url(../icon/computer.png);
}
.icon-book::before {
  background-image: url(../icon/book.png);
}
.icon-home::before {
  background-image: url(../icon/home.png);
}
.icon-image::before {
  background-image: url(../icon/image.png);
}
/* Team */
.team-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.team-item:hover .overlay {
  visibility: visible;
  top: -10px;
  left: -10px;
  bottom: 10px;
  right: 10px;
}
.team-picture {
  position: relative;
  top: 0;
  left: 0;
  transition-property: left, top;
  transition-duration: 0.2s;
}
.team-item:hover .team-picture {
  top: -10px;
  left: -10px;
}
.team-photo {
  width: 100%;
  position: relative;
  background-color: #95e1d3;
  font-size: 0;
}
.social-button {
  display: flex;
}

.overlay {
  position: absolute;
  display: flex;
  visibility: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  transition-property: visibility, left, top, right, bottom;
  transition-duration: 200ms;
}
.social-icon {
  margin-right: 2px;
}
.social-icon:nth-last-child(1) {
  margin-right: 0;
}
.social-icon a {
  display: block;
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  background-repeat: no-repeat;
  background-position: center;
  transition-property: background-color;
  transition-duration: 0.2s;
}
.social-icon a:hover {
  background-color: #95e1d3;
}

.team-name {
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 25px;
}
.team-profession {
  text-align: center;
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  margin: 10px 0 80px;
}
/* Icons */
.facebook a {
  background-image: url(../icon/facebook.png);
}
.twitter a {
  background-image: url(../icon/twitter.png);
}
.pinterest a {
  background-image: url(../icon/pinterest.png);
}
.instagram a {
  background-image: url(../icon/instagram.png);
}
/* Footer */
footer {
  border-top: 1px solid #e7e7e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}
.footer-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}
.footer-text a {
  color: #f38181;
}
/* Form */
#your-email {
  font-family: "Roboto";
  font-size: 15px;
  width: 230px;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  padding: 0 10px;
}

.subscribe {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: stretch;
}

input:-moz-placeholder {
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #cccccc;
  font-style: italic;
}

input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto";
  font-weight: 300;
  color: #cccccc;
  font-style: italic;
}

.submit {
  font-family: "Monserrat", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  border: none;
}
