@media screen and (min-width: 660px) {
  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 630px;
    margin: 0 auto;
    padding-top: 28px;
  }
  header .registration {
    margin-bottom: 0px;
    padding: 0;
  }
  .logo {
    margin: 0;
  }
  .background section {
    width: 540px;
  }

  .share h2 {
    padding-top: 150px;
    font-size: 52px;
    margin: 0 auto;
  }
  section .share-title-descr {
    font-size: 24px;
    padding-top: 25px;
  }
  #find {
    padding: 13px 25px;
    margin-bottom: 230px;
    margin-top: 35px;
  }
  body .content {
    width: 500px;
  }
  section .meet{
    max-width: 420px;
    display: inline-block;
  }
  .partners {
    display: flex;
    flex-wrap: wrap;
  }
  .partner {
    flex: 0 0 236px;
  }
  .partner:nth-child(2) {
    order: 3;
  }
  .partner:nth-child(3) {
    order: 2;
  }
  .partner:nth-child(4) {
    order: 4;
  }
  .content a {
    margin-top: 40px;
    padding: 12px 30px;
  }
}
@media screen and (min-width: 940px) {
  header {
  width: 940px;
  }

  body .content {
  width: 940px;
  }
  .partners {
    flex-wrap: nowrap;
  }
}
